<!DOCTYPE html>
<html>
<head>
  <title>Find Info</title>
</head>
<body>
  <h1>Find Student Info</h1>
  <form method="POST" action="/find-info">
    <div>
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" required>
    </div>
    <button type="submit">Find Info</button>
  </form>
</body>
</html>
