<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
</head>
<body>
  <h1>Welcome, <%= user.username %>!</h1>
  <ul>
    <li><a href="/add-student">Add Student</a></li>
    <li><a href="#">Fee Payment</a></li>
    <li><a href="#">Update Info</a></li>
    <li><a href="#">Search</a></li>
  </ul>
</body>
</html>
