<h1>Welcome to the Home Page</h1>
<ul>
  <li><a href="/add-student">Add Student</a></li>
  <li><a href="/fee-payment">Fee Payment</a></li>
  <li><a href="/update-info">Update Info</a></li>
  <li><a href="/search">Search</a></li>
</ul>
