<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
</head>
<body>
  <h1>Welcome, <%= user.username %>!</h1>
  <ul>
    <li><a href="/add-student">Add Student</a></li>
    <li><a href="/fee-payment">Fee Payment</a></li>
    <li><a href="/update-info">Update Info</a></li>
    <li><a href="/find-info">Find info</a></li>
  </ul>
</body>
</html>
